body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(251, 222, 238) 15.6%,
    rgb(206, 201, 226) 80.3%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
}

h1 {
  text-align: left;
  font-family: cursive;
  font-size: 35px;
  color: rgb(77, 32, 77);
  font-size: 40px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
  padding: 20px 0;
  color: rgb(135, 61, 130);
}

.city:last-child {
  border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: rgb(96, 86, 86);
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

.date {
  opacity: 0.7;
}
